.table {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  table-layout: fixed;
  border-collapse: collapse;
}

.table th {
  font-size: 14px;
  padding: 8px;
  text-align: start;
  text-transform: uppercase;
}

.table th, .table td {
  padding: 8px;
  color: #74797e;
  border-bottom: 1px solid #e7e8ea;
}